*,
*::before,
*::after {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Inter", sistem-ui;
}

h1 {
  font-size: 4vw;
  text-align: center;
  padding: 4vh 0;
}

.container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

p {
  margin: 1rem 0;
  text-align: center;
  font-size: 24px;
}

.choices {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;

  .choice {
    list-style: none;

    button {
      margin: 2rem 0;
      padding: 1rem 2rem;
      border: none;
      border-radius: 50px;
      background: #000;
      color: #eff;
      text-align: center;
      cursor: pointer;
    }
  }
}